SQLAlchemy==1.2.11
redis==2.10.6
kafka==1.3.5
alembic==1.0.0
sanic==0.7.0
Sanic-Plugins-Framework==0.5.2.dev20180201
Sanic-Cors==0.9.3
cassandra-driver==3.16.0
psycopg2==2.7.3.2
pytest==4.0.2
pytest-cov==2.6.0
asyncio==3.4.3
